.container {
  display: flex;
  gap: 80px;
  padding: 100px 0;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.posterImage {
  border-radius: 24px;
}

.leftSection {
}

.rightSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tagLine {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.description {
  font-size: 20px;
  line-height: 32px;
  color: #8E95A9;
}

.chip {
  background: rgba(0, 0, 0, 65%);
}

.averageBox {
  width: 70px;
  color: #FFAD49;
}

.descriptionTitle {
  color: #767E94;
  font-size: 24px;
}

.descriptionContent {
  color: #C3C8D4;
  font-size: 20px;
}
