.formContainer {
  position: relative;
  border-radius: 12px;
  background: #fffffe;
}

.label {
  display: block;
  margin-top: 20px;
  border-radius: 12px;
  padding: 20px 20px 40px 20px;
  width: calc(100% - 40px);
  height: 100%;
}

.textArea {
  border: none;
  width: 100%;
  font-family: Bahnschrift;

  &::placeholder {
    font-family: fantasy;
  }
  &:focus {
    outline: none;
  }
}

.submitButton {
  color: black;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 12px;

  bottom: 10px;
  right: 10px;
}