.container {
  padding-top: 20px;
  margin: 0;
  width: 100%;
  max-width: 1200px;
  display: flex;
  list-style: none;
  gap: 10px;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  position: relative;
  width: 280px;
  aspect-ratio: 2/3;
}
