.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.movieCard{
  height: 420px;
}

.progress {
  height: 200px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
