.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.subTitle {
  padding: 40px 0 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 200%;
}

.backDropList {
  display: flex;
  list-style: none;
  gap: 26px;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
