.container {
  height: inherit;
  position: relative;
}

.blackCover {
  position: absolute;
  height: 100%;
  z-index: -1;
}

.movieCover {
  position: absolute;
  z-index: 1;
  top: 0px;
  height: inherit;
  width: 100%;
}
