.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 300px;
}

.card {
  width: 400px;
  height: 100%;
  max-width: 280px;
  max-height: 480px;
  border: 2px solid red;
}
