.container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: #101116;
  width: 328px;
  padding: 12px 16px;
  border-radius: 10px;
  height: 48px;
  transition: 0.5s;
}

.container.hover {
  width: 450px;
  border-color: rgba(255, 255, 255, 0.5);
}

.icon {
  position: absolute;
}

.search {
  background: inherit;
  outline: none;
  border: none;
  color: white;
  width: 100%;
  padding-left: 24px;
  transition: 0.5s;


  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
  }
}

.inputBox {
  display: flex;
  justify-items: center;
  width: 100%;
}

.label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
