.rightSection {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 120px;
}

.userButton {
  height: fit-content;
  padding: 0 !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;

  span {
    color: #fffffe;
  }
}
