.container {
  min-height: calc(100vh - 80px);
  margin: 0 auto;
  padding-top: 30px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  gap: 20px;
}

.rightSection {
  width: calc(100% - 200px);
  min-height: 700px;
  border-radius: 20px;
}
